@font-face {
    font-family: 'Baloo';
    src: url('./BalooTammudu2-Bold.eot');
    src: url('./BalooTammudu2-Bold.eot?#iefix') format('embedded-opentype'),
        url('./BalooTammudu2-Bold.woff2') format('woff2'),
        url('./BalooTammudu2-Bold.woff') format('woff'),
        url('./BalooTammudu2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo';
    src: url('./BalooTammudu2-Medium.eot');
    src: url('./BalooTammudu2-Medium.eot?#iefix') format('embedded-opentype'),
        url('./BalooTammudu2-Medium.woff2') format('woff2'),
        url('./BalooTammudu2-Medium.woff') format('woff'),
        url('./BalooTammudu2-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo';
    src: url('./BalooTammudu2-ExtraBold.eot');
    src: url('./BalooTammudu2-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./BalooTammudu2-ExtraBold.woff2') format('woff2'),
        url('./BalooTammudu2-ExtraBold.woff') format('woff'),
        url('./BalooTammudu2-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo';
    src: url('./BalooTammudu2-Regular.eot');
    src: url('./BalooTammudu2-Regular.eot?#iefix') format('embedded-opentype'),
        url('./BalooTammudu2-Regular.woff2') format('woff2'),
        url('./BalooTammudu2-Regular.woff') format('woff'),
        url('./BalooTammudu2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo';
    src: url('./BalooTammudu2-SemiBold.eot');
    src: url('./BalooTammudu2-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./BalooTammudu2-SemiBold.woff2') format('woff2'),
        url('./BalooTammudu2-SemiBold.woff') format('woff'),
        url('./BalooTammudu2-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'M2';
    src: url('./mplus-2p-thin.eot');
    src: url('./mplus-2p-thin.eot?#iefix') format('embedded-opentype'),
    url('./mplus-2p-thin.woff') format('woff'),
    url('./mplus-2p-thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

